<!--<div class="header">-->
  <!--<span>Горячая линия: (099)-555-55-55</span>-->
<!--</div>-->
<div class="sto-menu">
  <div class="left-side">
    <div class="logo"><span>carland.com.ua</span></div>

    <div class="data" [ngClass]="{'active': isClassVisible }" (click)="makeActive()" routerLink="/sto">
      <div class="links">
        <i class="material-icons actives first" [ngClass]="{'activess': isClassVisible }">info outline</i>
      </div>
      <span>Ваши данные</span>
    </div>

    <div class="dashboard" [ngClass]="{'active': isClassVisible2 }" (click)="makeActive2()" routerLink="/sto/dashboard">
      <div class="links">
        <i class="material-icons actives second" [ngClass]="{'activess': isClassVisible2 }">home</i>
      </div>
      <span>На главную</span>
    </div>

    <div class="bids" [ngClass]="{'active': isClassVisible3 }" (click)="makeActive3()" routerLink="/sto/bids">
      <div class="links">
       <i class="material-icons actives third" [ngClass]="{'activess': isClassVisible3 }">build</i>
      </div>
      <span>Заявки на ремонт</span>
    </div>

    <div class="maps" [ngClass]="{'active': isClassVisible4 }" (click)="makeActive4()" routerLink="/sto/maps">
      <div class="links">
        <i class="material-icons actives fourth" [ngClass]="{'activess': isClassVisible4 }">local_car_wash</i>

      </div>
      <span>Карта всех СТО</span>
    </div>
  </div>

  <div class="right-side">
    <div class="header">
      <div class="finder">
        <i class="material-icons find-icon">find_replace</i>
        <input type="text" class="search-input">
      </div>

      <div class="communication">
        <div class="call">
          Горячая линия: <span>(099)-558-68-11</span>
        </div>
      </div>

      <div class="profile">
        <div class="icon">
          <i class="material-icons acc">account_circle</i>
          <span>Добро пожаловать, Yarik</span>
        </div>

      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

