  <top-login></top-login>
  <form class="driver" *ngIf="!isSend" [formGroup]="form" novalidat (ngSubmit)="submitNewForm()">
    <div class="aligner">
      <div class="header">
        <span>Автосервисы для ремонта авто</span>
      </div>
      <!--<div class="what-car"><span>Какое у вас авто?</span></div>-->

      <div class="what-auto">
        <div class="auto">
          <input type="text" class="form-control" formControlName="auto" placeholder="Марка" required>
        </div>
        <div class="auto">
          <input type="text" class="form-control" formControlName="model"  placeholder="Модель">
        </div>
        <div class="auto">
          <input type="text" class="form-control" formControlName="years"  placeholder="Год">
        </div>
      </div>

      <div class="what-broke">
        <input type="text" class="form-control" formControlName="whatBroke"  placeholder="Что сломалось?">
      </div>

      <div class="data">
        <input type="text" class="form-control" formControlName="phone"  class="phone" placeholder="Ваш телефон">
        <span class="or">или</span>
        <input type="text" class="form-control" formControlName="email"  class="email" placeholder="Ваш email">
      </div>

      <button type="submit" class="bid">Отправить заявку</button>
    </div>

  </form>

  <div class="success-bid" *ngIf="isSend">
    <div class="aligner">

      <div class="main-message">
        <span>Ваша заявка была успешно отправленна</span>
      </div>
      <div class="sub-message">
        <span>В течении 5 минут мы с вами свяжемся</span>
      </div>

      <div class="make-choice">
        <button type="submit" class="re-bid" (click)="reBid()">Отправить повторно заявку</button>
        <button type="submit" class="user-register">Создать пользователя</button>
      </div>

    </div>
  </div>



