

  <div class="register">

    <div class="login-button">
      <button class="login">Войти</button>
      <button class="registers">Зарегистрироваться</button>
    </div>

  </div>

  <div class="driver">

    <div class="aligner">

      <div class="header">
        <span>Автосервисы для ремонта авто</span>
      </div>

      <div class="what-car"><span>Какое у вас авто?</span></div>

      <div class="auto">
        <input type="text" placeholder="Введите марку авто">
      </div>

      <div class="what-broke">
        <input type="text" placeholder="Что сломалось?">
      </div>

      <div class="data">
        <input type="text" class="phone" placeholder="Ваш телефон">
        <span class="or">или</span>
        <input type="text" class="email" placeholder="email">
      </div>

      <button class="bid">Отправить заявку</button>

    </div>

  </div>

