<div class="account-data">
  <div class="my-data">
    <div class="header">
      <span>Редактировать профиль</span>
    </div>

    <div class="main-info">
      <div class="company-logo">
        <span class="dowload-photo">Загрузить фотографию</span>
      </div>

      <div class="information">
        <div class="name-of-service">

          <div class="company-name">
            <div class="company-name_name">
              <span>*</span>Название компании
            </div>
            <div class="company-name_name_input">
              <input type="text" placeholder="Название автосервиса">
            </div>
          </div>

          <div class="company-email">
            <div class="company-email_email">
              <span>*</span>E-mail
            </div>
            <div class="company-email_email_input">
              <input type="text" placeholder="E-mail">
            </div>
          </div>


          <div class="company-addresses">
            <div class="company-addresses_addresses">
              <span>*</span>Адрес
            </div>
            <div class="company-addresses_addresses_input">
              <input type="text" placeholder="г.Киев проспект Лесной, 4а">
            </div>
          </div>

          <div class="company-phone">
            <div class="company-phone_phone">
              <span>*</span>Номер телефона
            </div>
            <div class="company-phone_phone_input">
              <input type="text" placeholder="+380********">
            </div>
          </div>

          <div class="company-site">
            <div class="company-site_site">
              <span></span>Сайт
            </div>
            <div class="company-site_site_input">
              <input type="text" placeholder="www.your-site.com.ua">
            </div>
          </div>

          <div class="company-information">
            <div class="company-information_information">
              <span></span>Информация о компании
            </div>
            <div class="company-information_information_input">
              <input type="text" placeholder="Информация о компании">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="buttons">
      <div class="reset-all">
        <span>УДАЛИТЬ ВСЕ ДАННЫЕ</span>
      </div>

      <div class="save-data">
        <button class="save-btn">Сохранить</button>
      </div>
    </div>

  </div>
</div>
