<div class="leave-bid">
  <div class="btn">
    <button type="submit" class="btn btn-bid" routerLink="/driver">Оставить заявку на ремонт</button>
  </div>
</div>
<top-login></top-login>
<div class="login-container">
  <div class="login-container_form">
    <form [formGroup]="form" (ngSubmit)="registerUser(form.value, form.valid)" required>
      <div class="form-group">
        <div class="email">
          <span>E-mail или номер телефона</span>
        </div>
        <div class="emails">
          <input class="form-control email" placeholder="Введите ваш e-mail или номер"  formControlName="email"  required>
        </div>
        <div *ngIf="email.errors.minLength">
          Email is required.
        </div>
      </div>

      <div class="form-group">
        <div class="password">
          <span>Пароль</span>
        </div>
        <div class="passwords">
          <input type="text" class="form-control password" placeholder="Введите Ваш пароль"  formControlName="password" id="alterEgo" >
        </div>
      </div>

      <div class="form-group">
        <div class="password">
          <span>Повторите пароль</span>
        </div>
        <div class="passwords">
          <input type="text" class="form-control password2" placeholder="Повторите Ваш пароль"  formControlName="password2" id="alterEgo" >
        </div>
      </div>

      <div class="btn">
        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
      </div>

    </form>
  </div>
</div>
